@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/scripts/layui/css/layui.css" />
    <script src="~/scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/scripts/layui/layui.js"></script>
    <script src="~/scripts/route.js"></script>
    <link href="~/system/css/columncontent/approvalprocess.css" rel="stylesheet" />
    <link href="~/scripts/common/iconfont/iconfont.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @* <ul class="listbox">
            <li class="item start">
                <p>流程名</p>
                <p>参与人</p>
                <p>返回结果</p>
            </li>
            <li class="line iconfont">&#xe607;</li>
            <li class="item normal">
                <p>流程名</p>
                <p>参与人</p>
                <p>返回结果</p>
            </li>
            <li class="line iconfont">&#xe607;</li>
            <li class="item normal">
                <p>流程名</p>
                <p>参与人</p>
                <p>返回结果</p>
            </li>
            <li class="line iconfont">&#xe607;</li>
            <li class="item reject">
                <p>流程名：驳回</p>
                <p>参与人</p>
                <p>返回结果</p>
            </li>
            <li class="line iconfont">&#xe607;</li>
            <li class="item end">
                <p>流程名</p>
                <p>参与人</p>
                <p>返回结果</p>
            </li>
        </ul> *@
    </div>
    <script src="~/system/js/columncontent/approvalprocess.js"></script>
</body>
</html>