<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="~/Scripts/route.js" type="text/javascript"></script>
    <link href="~/Scripts/layui/css/iconfont/iconfont.css" rel="stylesheet" />
    <link href="~/system/css/columncontent/manage.css" rel="stylesheet" />
    <style>
        
    </style>
</head>
<body>
    <div id="treeContainer" class="treeContainer" style="">
        <div id="test12" class="demo-tree-more"></div>
    </div>
    <div class="layui-layout layui-layout-admin">
        <!-- 页面标签 -->
        <div class="layui-body" style="" id="nav2">
            <div class="layui-tab" lay-allowclose="true" lay-filter="main_contents">
                <ul class="layui-tab-title" style="" id="main_contents">
                </ul>
                <div class="layui-tab-content">
                </div>
            </div>
        </div>
    </div>
</body>
<script src="~/system/js/columncontent/manage.js" type="text/javascript"></script>
