<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Scripts/layui/css/iconfont/iconfont.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js" type="text/javascript"></script>
    <script src="~/Scripts/route.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="~/system/js/contentmodel/openpageoptions.js"></script>
</head>
<body>
    <div style="width:100%;overflow-x:scroll;">
        <table id="demo" lay-filter="test"></table>
    </div>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script type="text/html" id="statusPxy">
        {{#if(d.IsLock==true){}}
        <input type="checkbox" name="yyy" lay-skin="switch" lay-text="已锁|未锁" checked>
        {{#}else{}}
        <input type="checkbox" name="yyy" lay-skin="switch" lay-text="已锁|未锁">
        {{#}}}
    </script>
    <script type="text/html" id="toolbarDemo">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="addRole">添加</button>
            <button class="layui-btn layui-btn-sm" lay-event="deleteAll">删除选中</button>
        </div>
    </script>
    <script>
        var routeLink = api + 'Filed/';
        var routePageLink = '/system/Filed/';
        defaultOptions.operawidths = 600;
        defaultOptions.operaheights = 650;
        defaultOptions.isOperaReload = false;
        defaultOptions.IsEditReload = false;
        defaultOptions.IdName = 'Id';
    </script>
    <script src="~/system/js/filed/index.js"></script>
</body>
</html>