@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Scripts/layui/css/iconfont/iconfont.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js" type="text/javascript"></script>
    <script src="~/Scripts/route.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <style>
        .layui-form-item .layui-form-label { text-align: center; }
        .edui-editor.edui-default { width: 100% !important; }
        .layui-input-block > .edui-default { width: 100% !important; }
        .layui-select-title .layui-anim.layui-anim-upbit { display: none; }
        .iconclear { width: 35px; display: inline-block; height: 16px; padding: 2px; background-color: #393D49; text-align: center; line-height: 16px; color: #fff; cursor: pointer; }
    </style>
</head>
<body>
    <form class="layui-form" action="" onclick="return false;" style="padding: 2%;" lay-filter="formTest">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">栏目名</label>
            <div class="layui-input-block">
                <input type="text" name="Name" placeholder="请输入栏目名" autocomplete="off" class="layui-input" lay-verify='required'>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">栏目图片</label>
            <div class="layui-input-block">
                <input type="text" name="ColumnImage" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">父级栏目</label>
            <div class="layui-input-block">
                <div class="layui-form-select downpanel">
                    <div class="layui-select-title">
                        <select name="ParentID" id="chooseName">
                            <option value="-1">无</option>
                        </select>
                    </div>
                    <dl class="layui-anim layui-anim-upbit">
                        <dd>
                            <div id="ParentID" class="demo-tree-more"></div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">模型选择</label>
            <div class="layui-input-block">
                <select name="ModelId" lay-search="" id="ModelId" required lay-verify="required">
                    <option value="0">空模型</option>

                </select>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">栏目链接</label>
            <div class="layui-input-block">
                <input type="text" name="ColumnUrl" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">Seo标题</label>
            <div class="layui-input-block">
                <input type="text" name="SeoTitle" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">Seo关键字</label>
            <div class="layui-input-block">
                <input type="text" name="SeoKeyWord" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">Seo描述</label>
            <div class="layui-input-block">
                <input type="text" name="SeoDescription" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary" id="reset">重置</button>
            </div>
        </div>
    </form>
    <script src="~/system/js/column/js/add.js"></script>
</body>
</html>