.fileManager { display: flex; flex-wrap: wrap; }
.fileManager li { width: 10%; box-sizing: border-box; }
.fileManager .layui-elip { height: 80px; line-height: 20px; overflow: unset; white-space: unset; word-break: break-all; }
.path_bar .layui-icon { font-size: 12px; }

@media screen and (max-width:1200px) {
    .fileManager li { width: 20%; }
}

@media screen and (max-width:800px) {
    .fileManager li { width: 50%; }
}
