@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="~/scripts/layui/css/iconfont/iconfont.css" rel="stylesheet" />
    <script src="~/scripts/layui/layui.js" type="text/javascript"></script>
    <script src="~/scripts/route.js" type="text/javascript"></script>
    <script src="~/scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <style>
        .layui-form-item .layui-form-label { text-align: center; }
        .edui-editor.edui-default { width: 100% !important; }
        .layui-input-block > .edui-default { width: 100% !important; }
        .layui-select-title .layui-anim.layui-anim-upbit { display: none; }
        .iconclear { width: 35px; display: inline-block; height: 16px; padding: 2px; background-color: #393D49; text-align: center; line-height: 16px; color: #fff; cursor: pointer; }
    </style>
</head>
<body>
    <form class="layui-form" action="" onclick="return false;" style="padding: 2%;" lay-filter="formTest">
        <div class="layui-form-item">
            <label class="layui-form-label">编号</label>
            <div class="layui-input-block">
                <input type="text" name="Id" readonly="readonly" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">站点名称</label>
            <div class="layui-input-block">
                <input type="text" name="SiteName" placeholder="请输入站点名称" autocomplete="off" value="" class="layui-input" lay-verify='required'>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">站点描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入站点描述" name="SiteDesc" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">数据表前缀</label>
            <div class="layui-input-block">
                <input type="text" name="TablePrefix" readonly="readonly" placeholder="请输入数据表前缀" disabled value="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">自定义路由</label>
            <div class="layui-input-block">
                <input type="text" name="RoutePrefix" placeholder="请输入自定义路由" value="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">目标路由</label>
            <div class="layui-input-block">
                <input type="text" name="TargetRoutePrefix" placeholder="请输入目标路由" value="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">复制数据</label>
            <div class="layui-input-block">
                <select name="CopySiteId" lay-search="" id="CopySiteId" disabled>
                    
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary" id="reset">重置</button>
            </div>
        </div>
    </form>
    <script src="~/system/js/sitemanage/edit.js"></script>
</body>
</html>