@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Scripts/layui/css/iconfont/iconfont.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js" type="text/javascript"></script>
    <script src="~/Scripts/route.js" type="text/javascript"></script>
    <script src="~/scripts/jquery-3.4.1.min.js"></script>
    <link href="~/System/css/admin/add.css" rel="stylesheet" />
</head>
<body>
    <form class="layui-form" action="" onclick="return false;" style="padding: 2%;" lay-filter="formTest">
        <div class="layui-form-item">
            <label class="layui-form-label">昵称</label>
            <div class="layui-input-block">
                <input type="text" name="UserName" required lay-verify="required" placeholder="请输入昵称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
                <input type="text" name="Account" required lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline" style="width:40%;">
                <input type="password" name="Password" required lay-verify="required" placeholder="请输入密码" autocomplete="new-password" class="layui-input">
            </div>
            <div class="layui-input-inline" style="width: 20px;margin-top:10px ">
                <span class="show" style="text-decoration:none;cursor:pointer;"><i class="iconfont iconyanjing_bi" data-bind="Password"></i></span>
            </div>
            <div class="layui-input-inline" style="width:30%;margin-top:10px">
                @*留空则不修改*@
            </div>
        </div>
        <div class="layui-form-item" id="pwdbox" style="margin-bottom: 5px;margin-top: -10px;display:none;transition:all 0.35s;">
            <label class="layui-form-label"></label>
            <div class="layui-input-block" style="display: flex;width: 40%;height: 20px;min-height: unset;">
                <p class="tips" id="pwChar">长度8-30</p>
                <p class="tips" id="pwLower">包含小写字母</p>
                <p class="tips" id="pwCap">包含大写字母</p>
                <p class="tips" id="pwNum">包含数字</p>
                <p class="tips" id="pwOther">包含特殊符号</p>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline" style="width:40%;">
                <input type="password" name="CheckPwd" required lay-verify="required" placeholder="请确认密码" autocomplete="new-password" class="layui-input">
            </div>
            <div class="layui-input-inline" style="width: 20px;margin-top:10px ">
                <span class="show" style="text-decoration:none;cursor:pointer;"><i class="iconfont iconyanjing_bi" data-bind="CheckPwd"></i></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">头像</label>
            <div class="layui-input-inline img-box" id="editimg">
                <img src="/Content/images/face.png" id="srcimgurl" width="50" height="50" />
                <div class="img-box-corner"></div>
                <input type="text" name="UserAvatar" id="inputimgurl" placeholder="图片地址" style="display:none;" class="layui-input">
            </div>
            <div class="layui-input-inline message-info">
                头像的尺寸限定150x150px,大小在50kb以内
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">角色选择</label>
                <div class="layui-input-inline">
                    <select name="RoleId" lay-search="" id="RoleId" required lay-verify="required">
                        <option value="">直接选择或搜索选择</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户签名</label>
            <div class="layui-input-block">
                <input type="text" name="UserSign" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">最大登录错误次数</label>
            <div class="layui-input-block">
                <input type="number" name="MaxErrorCount" placeholder="" autocomplete="off" class="layui-input" value="10">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">多人登录</label>
            <div class="layui-input-block">
                <input type="checkbox" name="AllowMultiLogin" lay-skin="switch" lay-text="允许|不允许" value="true">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">锁定状态</label>
            <div class="layui-input-block">
                <input type="checkbox" name="Islock" lay-skin="switch" lay-text="锁定|未锁定" value="true">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">白名单</label>
            <div class="layui-input-inline" style="width:40%;">
                <textarea name="FilterIp" placeholder="" class="layui-textarea"></textarea>
            </div>
            <div class="layui-input-inline" style="width:30%;margin-top:10px ">
                授权指定IP来源的请求才可使用，每行填写一条，留空则不限制
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script src="~/System/js/admin/js/add.js"></script>
</body>
</html>