@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Scripts/layui/css/iconfont/iconfont.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js" type="text/javascript"></script>
    <script src="~/Scripts/route.js" type="text/javascript"></script>
	<script src="~/scripts/jquery-1.8.2.min.js"></script>
    <link href="~/Scripts/iconfont/iconfont.css" rel="stylesheet" />
    <style>
        .layui-form-item .layui-form-label { text-align: center; }
        .edui-editor.edui-default { width: 100% !important; }
        .layui-input-block > .edui-default { width: 100% !important; }
        .layui-select-title .layui-anim.layui-anim-upbit { display: none; }
        .iconclear { width: 35px; display: inline-block; height: 16px; padding: 2px; background-color: #393D49; text-align: center; line-height: 16px; color: #fff; cursor: pointer; }
        .layui-layer-page { width: 95% !important; }
        .layui-col-xs9 { width: 70% }
        .img-box { width: auto !important; border: 4px solid #f2f2f2; border-radius: 3px; cursor: pointer; overflow: hidden; }
        .message-info { width: auto !important; line-height: 50px; color: #535353 }
        .img-box .img-box-corner { position: absolute; right: -11px; bottom: -11px; width: 20px; height: 20px; background-color: rgb(102, 177, 255); transform: rotate( 40deg ); }
        .tips { display: none; width: 100%; background-color: #ff0000; color: #fff; height: 20px; border: 1px solid #fff; line-height: 20px; text-align: center; }
        .tips.active { background-color: rgb(102, 177, 255); border-color: rgb(102, 177, 255); }
    </style>
</head>
<body>
    <form class="layui-form" action="" style="padding: 2%;" lay-filter="formTest">
        <div class="layui-form-item">
            <label class="layui-form-label">编号</label>
            <div class="layui-input-block">
                <input type="text" name="AdminId" readonly="readonly" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">昵称</label>
            <div class="layui-input-block">
                <input type="text" name="UserName" required lay-verify="required" placeholder="请输入昵称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
                <input type="text" name="LoginName" required lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline" style="width:40%;">
                <input type="password" name="Password" placeholder="请输入密码" autocomplete="new-password" class="layui-input">
            </div>
            <div class="layui-input-inline" style="width: 20px;margin-top:10px ">
                <span href="javascript:void(0);" class="show" style="text-decoration:none;"><i class="iconfont iconyanjing_bi" data-bind="Password"></i></span>
            </div>
            <div class="layui-input-inline" style="width:30%;margin-top:10px">
                留空则不修改
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline" style="width:40%;">
                <input type="password" name="CheckPwd" placeholder="请确认密码" autocomplete="new-password" class="layui-input">
            </div>
            <div class="layui-input-inline" style="width: 20px;margin-top:10px ">
                <span href="javascript:void(0);" class="show" style="text-decoration:none;"><i class="iconfont iconyanjing_bi" data-bind="CheckPwd"></i></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">头像</label>
            <div class="layui-input-inline img-box" id="editimg">
                <img src="/Content/images/face.png" id="srcimgurl" width="50" height="50" />
                <div class="img-box-corner"></div>
                <input type="text" name="UserAvatar" id="inputimgurl" placeholder="图片地址" style="display:none;" class="layui-input">
            </div>
            <div class="layui-input-inline message-info">
                头像的尺寸限定150x150px,大小在50kb以内
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">角色选择</label>
                <div class="layui-input-inline">
                    <select name="GroupId" lay-search="" id="GroupId">
                        <option value="">直接选择或搜索选择</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户签名</label>
            <div class="layui-input-block">
                <input type="text" name="UserSign" autocomplete="off" placeholder="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">登录错误次数</label>
            <div class="layui-input-block">
                <input type="text" name="ErrorCount" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">最大登录错误次数</label>
            <div class="layui-input-block">
                <input type="text" name="MaxErrorCount" placeholder="" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">多人登录</label>
            <div class="layui-input-block">
                <input type="checkbox" name="AllowMultiLogin" lay-skin="switch" lay-text="允许|不允许" value="true">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">锁定状态</label>
            <div class="layui-input-block">
                <input type="checkbox" name="Islock" lay-skin="switch" lay-text="锁定|未锁定" value="true">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">白名单</label>
            <div class="layui-input-inline" style="width:40%;">
                <textarea name="FilterIp" placeholder="" class="layui-textarea"></textarea>
            </div>
            <div class="layui-input-inline" style="width:30%;margin-top:10px ">
                授权指定IP来源的请求才可使用，每行填写一条，留空则不限制
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">上次登录时间</label>
            <div class="layui-input-inline" id="LastLoginTime" style="width:30%;margin-top:10px ">

            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">上次登录IP</label>
            <div class="layui-input-inline" id="LastLoginIP" style="width:30%;margin-top:10px ">

            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">上次退出时间</label>
            <div class="layui-input-inline" id="LastLogoutTime" style="width:30%;margin-top:10px ">

            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">登录次数</label>
            <div class="layui-input-inline" id="LoginCount" style="width:30%;margin-top:10px ">

            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-inline" id="Addtime" style="width:30%;margin-top:10px ">

            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">修改时间</label>
            <div class="layui-input-inline" id="LastEditDate" style="width:30%;margin-top:10px ">

            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">修改人</label>
            <div class="layui-input-inline" id="LastEditUserName" style="width:30%;margin-top:10px ">

            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">创建人</label>
            <div class="layui-input-inline" id="AddUserName" style="width:30%;margin-top:10px ">

            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary" id="reset">重置</button>
            </div>
        </div>
    </form>
    <script>
        $(".show").on("click", ".iconyanjing_bi", function () {
            $(this).removeClass("iconyanjing_bi").addClass("iconyanjing_kai");
            var show_box=$("#"+$(this).data('bind') + "_show");
            var hide_box=$("#"+$(this).data('bind') +"_hide"); //隐藏的textbox显示密码
            show_box.hide();
            hide_box.val(show_box.val());
            hide_box.show().focus();
        });
        $(".show").on("click", ".iconyanjing_kai", function () {
            $(this).removeClass("iconyanjing_kai").addClass("iconyanjing_bi");
            var show_box = $("#" + $(this).data('bind') + "_show");
            var hide_box = $("#" + $(this).data('bind') + "_hide"); //隐藏的textbox显示密码
            hide_box.hide();
            show_box.val(hide_box.val());
            show_box.show().focus();
        });


        // 操作列tips

        var ischeck = false;
        layui.config({
            base: '/Scripts/layui/module/cropper/' //layui自定义layui组件目录
        }).use(['form', 'croppers'], function () {
            var form = layui.form, croppers = layui.croppers, layer = layui.layer;
            var parent_json = parent.req_Data;
            var tips = {
                timeout: 2000,
                msgboxtime: 1000,
                index: undefined,
                showProStatus: function ($emlemt, msg) {
                    tips.index = layer.tips(msg, $emlemt, {
                        tips: 2,
                        time: tips.timeout     // 3秒消失
                    })
                },
                showSuccess: function (msg) {
                    layer.msg(msg, { icon: 6, time: tips.msgboxtime }, function () { });
                },
                showFail: function (msg) {
                    layer.msg(msg, { icon: 5, time: tips.msgboxtime }, function () { });
                },
                closeTips: function () {
                    layer.close(tips.index);
                }
            }
            $.ajax({
                url: api + 'RolesPermission/GetAllPermission',
                type: 'Post',
                datatype: 'json',
                async: false,
                success: function (result) {
                    let json = JSON.parse(result);
                    if (json.code == 200) {
                        $.each(json.data, function (index, item) {
                            $('#GroupId').append('<option value="' + item.RolesID + '">' + item.RolesName + '</option>');
                        })
                    } else {
                        layer.msg(json.msg, { icon: 5, time: 1000 });
                    }
                }
            })
            //创建一个头像上传组件
            croppers.render({
                elem: '#editimg'
                , saveW: 150     //保存宽度
                , saveH: 150
                , mark: 1 / 1    //选取比例
                , area: '900px'  //弹窗宽度
                , url: "OnloadUserAvatar"  //图片上传接口返回和（layui 的upload 模块）返回的JOSN一样
                , done: function (data) { //上传完毕回调
                    $("#inputimgurl").val(data);
                    $("#srcimgurl").attr('src', "/" + data);
                }
            });
            var password = $('input[name=Password]');
            var isvalid = false;
            var helperText = {
                charLength: $('#pwChar'),
                lowercase: $('#pwLower'),
                uppercase: $('#pwCap'),
                number: $('#pwNum'),
                other: $('#pwOther'),
            };
            var pattern = {
                charLength: function () {
                    if (password.val().length >= 8) {
                        return true;
                    }
                },
                lowercase: function () {
                    var regex = /^(?=.*[a-z]).+$/;
                    if (regex.test(password.val())) {
                        return true;
                    }
                },
                uppercase: function () {
                    var regex = /^(?=.*[A-Z]).+$/;
                    if (regex.test(password.val())) {
                        return true;
                    }
                },
                number: function () {
                    var regex = /^(?=.*[0-9]).+$/;
                    if (regex.test(password.val())) {
                        return true;
                    }
                },
                other: function () {
                    var regex = /^(?=([\x21-\x7e]+)[^a-zA-Z0-9]).+$/;
                    if (regex.test(password.val())) {
                        return true;
                    }
                }
            };
            function checkAll() {
                if (password.val().length >= 1) {
                    $('.tips').show();
                    validClass(pattern.charLength(), helperText.charLength);
                    validClass(pattern.lowercase(), helperText.lowercase);
                    validClass(pattern.uppercase(), helperText.uppercase);
                    validClass(pattern.number(), helperText.number);
                    validClass(pattern.other(), helperText.other);
                    if (pattern.charLength()
                        && pattern.lowercase()
                        && pattern.uppercase()
                        && pattern.number()
                        && pattern.other()
                    ) {
                        isvalid = true;
                    } else {
                        isvalid = false;
                    }
                }
                else {
                    $('.tips').hide(); isvalid = true;
                }
            }
            function validClass(result, $element) {
                if (result) {
                    $element.addClass('active');
                }
                else { $element.removeClass('active');}
            }
            $('input[name=Password]').keyup(function () {
                checkAll();
            })
            $('input[name=CheckPwd]').blur(function () {
                let checkpwd = $(this).val();
                let pwd = $('input[name=Password]').val();
                if (checkpwd === pwd) {
                    ischeck = true;
                    tips.closeTips();
                    return;
                }
                ischeck = false;
                tips.showProStatus($(this), "两次密码不一致")
            })
            function formRender() {
                form.val("formTest", {
                    'AdminId': parent_json.AdminId
                    , 'LoginName': parent_json.LoginName
                    , 'UserName': parent_json.UserName
                    , 'UserSign': parent_json.UserSign
                    , 'UserAvatar': parent_json.UserAvatar
                    , 'ErrorCount': parent_json.ErrorCount
                    , 'MaxErrorCount': parent_json.MaxErrorCount
                    , 'AllowMultiLogin': parent_json.AllowMultiLogin
                    , 'FilterIp': parent_json.FilterIp
                    , 'GroupId': parent_json.GroupId
                    , 'Islock': parent_json.Islock
                });
                $('#srcimgurl').attr('src', "/" + parent_json.UserAvatar);
            }
            formRender();
            $('#LastLoginIP').html(parent_json.LastLoginIP);
            $('#LastLoginTime').html(parent_json.LastLoginTimeStr);
            $('#LastLogoutTime').html(parent_json.LastLogoutTimestr);
            $('#LoginCount').html(parent_json.LoginCount);
            $('#Addtime').html(parent_json.AddTimeStr);
            $('#LastEditDate').html(parent_json.LastEditDateTimeStr);
            $('#LastEditUserName').html(parent_json.LastEditUserName);
            $('#AddUserName').html(parent_json.AddUserName);
            $('#editimg').attr('data-id', parent_json.AdminId);

            //监听提交
            form.on('submit(formDemo)', function (data) {
                if (password.val().length >=1) {
                    if (!isvalid) {
                        password.focus();
                        tips.showProStatus(password, "密码不符合规范");
                        return false;
                    }
                    if (!ischeck) {
                        tips.showProStatus($('input[name=CheckPwd]'), "请确认密码")
                        $('input[name=CheckPwd]').focus();
                        return false;
                    }
                }
                $.ajax({
                    url: api + 'Admin/Update',
                    type: 'Post',
                    datatype: 'json',
                    data: JSON.stringify(data.field),
                    async: false,
                    success: function (result) {
                        let json = JSON.parse(result);
                        if (json.code == 200) {
                            layer.msg(json.msg, { icon: 6, time: 300 }, function () {
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(index); //再执行关闭
                            });
                        } else {
                            layer.msg(json.msg, { icon: 5, time: 3000 });
                        }
                    },
                    complete: function () {

                    }
                })
                return false;
            });
            $('#reset').click(function () {
                formRender();
                return false;
            })
        });
    </script>
</body>
</html>