@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/scripts/layui/css/layui.css" />
    <link rel="stylesheet" href="~/scripts/layui/module/formdesigner/formdesigner.css" />
    <link rel="stylesheet" href="~/scripts/layui/module/formdesigner/cron.css" />
    <link rel="stylesheet" href="~/scripts/layui/module/formdesigner/labelgeneration.css" />
    <script src="~/scripts/jquery-3.4.1.min.js"></script>
    <link href="~/system/css/uploader/webuploadercustom.css" rel="stylesheet" />
    <script src="~/system/js/uploader/webuploader.min.js"></script>
    <script src="~/system/js/uploader/uploadsingle.js"></script>
    <link href="~/system/css/columncontent/edit.css" rel="stylesheet" />
    <script>
        var editorarray = new Array();
    </script>
</head>
<body>
    <form class="layui-form layui-form-pane" action="" style="padding: 2%;padding-bottom: 150px;" lay-filter="formTest">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:110px">标题</label>
            <div class="layui-input-block" style="width:calc(100% - 110px)">
                <input type="text" name="Title" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div id="view"></div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="checkbox" data-group="datastatus" name="IsTop" title="置顶">
                <input type="checkbox" data-group="datastatus" name="IsRecommend" title="推荐">
                <input type="checkbox" data-group="datastatus" name="IsHot" title="热门">
                <input type="checkbox" data-group="datastatus" name="IsSilde" title="焦点">
                <input type="checkbox" data-group="datastatus" name="IsShow" title="隐藏">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">Seo标题</label>
            <div class="layui-input-block">
                <input type="text" name="SeoTitle" placeholder="请输入Seo标题" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">Seo关键字</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入关键字" name="KeyWord" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">Seo描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入描述" name="Description" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item bottomBtnbox">
            <div class="layui-input-block" id="bottomBtnbox">
            </div>
        </div>
    </form>
    <script type="text/javascript" src="~/scripts/layui/layui.js"></script>
    <script src="~/scripts/route.js"></script>
    <script type="text/javascript" src="~/scripts/layui/module/formdesigner/sortable.js"> </script>
    <script src="~/system/htmleditor/_ueditor/ueditor.config.js"></script>
    <script src="~/system/htmleditor/_ueditor/ueditor.all.js"></script>
    <script src="~/system/htmleditor/_ueditor/ckeditor.min.office.js"></script>
    <script src="~/system/js/columncontent/add.js"></script>
</body>
</html>