<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>图库管理power by www.nbnat.com</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/scripts/layui/css/layui.css" rel="stylesheet" />
</head>
<body style='padding:10px'>
    <button type="button" class="layui-hide" id="test1"></button>
    <div class="layui-fluid">
        <div id="fileManager" lay-filter="test"></div>
    </div>
</body>
<script src="~/scripts/layui/layui.js"></script>
<script src="~/system/js/filemanage/index.js"></script>
</html>