<html>
<head>
    <link href="~/scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="~/system/css/filemanage/preview.css" rel="stylesheet" />
</head>
<body>
    <div class="" id="editor">
        
    </div>
    <div class="button_box">
        <button class="layui-btn layui-btn-sm">保存</button>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/scripts/layui/layui.js"></script>
    <script src="~/scripts/route.js"></script>
    <script src="~/scripts/core/commonutil.js"></script>
    <script src="~/scripts/core/vs/loader.js"></script>
    <script src="~/system/js/filemanage/preview.js"></script>
</body>
</html>