html, body { height: 100%; width: 100%; background-color: #fff; padding-top: 10px; overflow-y: hidden; }
.summary-search { width: 100%; }
.search-box { position: fixed; top: 0; height: 80px; background-color: #fff; z-index: 999; width: 100%; overflow-y: hidden; padding-top: 10px; }
.layui-tab-content { padding: 0px; padding-top: 80px; overflow: hidden; }
.layui-form-item .layui-inline { margin-bottom: 0px; margin-right: 0px; }
.layui-btn-sm { padding: 0 18px; }
.layui-form-label { width: auto; max-width:80px;}
.layui-laydate-content td > div{font-size:14px;}

@media screen and (max-width:800px) {
    .layui-form-label { width: 80px; }
    .search-box { overflow-y: scroll; }
    .layui-form-item .layui-form-label { width: 50px !important; padding: 9px 5px; }
    .layui-form-item .layui-input-inline { margin: 0 0 10px 80px; }
    .layui-form-item .layui-inline { clear: none; }
    .layui-laydate-range { width: calc(100% - 12px); }
}
