/*.iframe_contents { width: 100%; height: 700px; border: none; }*/
.iframe_contents.contents { border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; }
.boxchart { width: 33.333%; height: 180px; border: 5px solid #f1f1f1; position: relative; box-sizing: border-box; background-color: #fff; }
.leftconfig { font-size: 40px; font-weight: lighter; color: #424c63; line-height: 110px; }
/*.boxchart.types .leftconfig { line-height: 70px; }*/
.iconbox { font-size: 20px; text-align: center; }
.icon_title { font-size: 14px; text-align: center; display: block; }
.LinkA { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; cursor: pointer; }
.title_colors { font-size: 20px; color: #4ab89d; padding-top: 3px; }
.grid-demo-bg1 { background-color: green; }
.grid-demo-bg2 { background-color: #b6ff00 }
.grid-demo-bg3 { background-color: #4ab89d }
.grid-demo { padding: 10px; height: 100px; line-height: 50px; text-align: center; background-color: #79C48C; color: #fff; }
.leftbox { width: 75% !important; float: left; padding-right: 0; }
.rightbox { width: 25% !important; float: left; }
.newsbox { width: 100%; display: flex; height: 10%; margin-top: 0; padding-left: 10px; background-color: #fff; line-height: 30px; box-sizing: border-box; cursor: pointer; border: 2px solid #f1f1f1; }
.newsbox p.titles { width: 65%; float: left; font-size: 12px; }
.newsbox p.datetime { width: 35%; float: left; text-align: center; }
.layui-card-header { display: flex; justify-content: space-between; }
.layui-card-header span { font-size: 14px; }
.layui-card-header span.iconfont { cursor: pointer; }
.layui-card-box { display: flex; flex-wrap: wrap; background-color: #f1f1f1; padding: 5px; min-height: 360px; }
/*.types { height: 120px; }*/
.boxchart_delete { cursor: pointer; content: '\e6c9'; border-radius: 10px; width: 20px; height: 20px; background: red; position: absolute; right: -5px; top: -5px; text-align: center; line-height: 20px; color: #fff; }
.operation .iconfont { font-size: 20px; display: inline-block; margin-left: 20px; }
.layui-layer-rim { border: 1px solid #8D8D8D !important; }
.layui-layer-content { overflow-x: hidden !important; }
.layui-card .btn_box { padding: 0px 15px 0px 15px; display: flex; justify-content: flex-end; }
.layui-layer-content .layui-card-box { height: 360px; overflow-y: scroll; overflow-x: hidden; }
.LinkA.active { border: 2px solid rgb(102, 177, 255); box-sizing: border-box; }
.LinkA.active::after { content: '\e650'; border-radius: 10px; width: 20px; height: 20px; background: rgb(102, 177, 255); position: absolute; right: -5px; bottom: -5px; text-align: center; line-height: 20px; color: #fff; font-size: 10px; }
.boxchart.file_box { width: 25%; height: 140px; }
.layui-card-box.typess { min-height: 240px; }
.File { min-height: 280px; }
.File .boxchart { height: 140px; }
.File .leftconfig { line-height: 80px; }
.typess .boxchart { width: 10%; height: 140px; }
.typess .leftconfig { line-height: 80px; }
.typess .boxchart::-webkit-scrollbar { width: 0 !important }
.typess { min-height: 240px; }
@media screen and (max-width:800px) {
    .leftbox { width: 100% !important; }
    .rightbox { width: 100% !important; }
}
