@font-face {
  font-family: "iconfont"; /* Project id 4449945 */
  src: url('iconfont.woff2?t=1709274057480') format('woff2'),
       url('iconfont.woff?t=1709274057480') format('woff'),
       url('iconfont.ttf?t=1709274057480') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-to-top-one:before {
  content: "\e60e";
}

.icon-zhiding:before {
  content: "\e637";
}

.icon-tuijian:before {
  content: "\e63b";
}

.icon-remen:before {
  content: "\e8c9";
}

.icon-meitijujiao:before {
  content: "\e686";
}

.icon-yincang:before {
  content: "\e6d1";
}

