<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link href="~/css/Main/style.css" rel="stylesheet" />
    <link href="/Scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="/Scripts/iconfont/iconfont.css" rel="stylesheet" />
    <link href="~/css/Main/hover.css" rel="stylesheet" />
    <script src="/js/Main/echarts/echarts.min.js"></script>
    <script src="/Scripts/jquery-1.8.2.min.js"></script>
    <style type="text/css">
        /*.iframe_contents { width: 100%; height: 700px; border: none; }*/
        .iframe_contents.contents { border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; }
        .boxchart { width: 33.333%; height: 180px; border: 5px solid #f1f1f1; position: relative; box-sizing: border-box; background-color: #fff; }
        .leftconfig { font-size: 40px; font-weight: lighter; color: #424c63; line-height: 110px; }
        /*.boxchart.types .leftconfig { line-height: 70px; }*/
        .iconbox { font-size: 20px; text-align: center; }
        .icon_title { font-size: 14px; text-align: center; display: block; }
        .LinkA { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; cursor: pointer; }
        .title_colors { font-size: 20px; color: #4ab89d; padding-top: 3px; }
        .grid-demo-bg1 { background-color: green; }
        .grid-demo-bg2 { background-color: #b6ff00 }
        .grid-demo-bg3 { background-color: #4ab89d }
        .grid-demo { padding: 10px; height: 100px; line-height: 50px; text-align: center; background-color: #79C48C; color: #fff; }
        .leftbox { width: 75% !important; float: left; padding-right: 0; }
        .rightbox { width: 25% !important; float: left; }
        .newsbox { width: 100%; display: flex; height: 10%; margin-top: 0; padding-left: 10px; background-color: #fff; line-height: 30px; box-sizing: border-box; cursor: pointer; border: 2px solid #f1f1f1; }
        .newsbox p.titles { width: 65%; float: left; font-size: 12px; }
        .newsbox p.datetime { width: 35%; float: left; text-align: center; }
        .layui-card-header { display: flex; justify-content: space-between; }
        .layui-card-header span { font-size: 14px; }
        .layui-card-header span.iconfont { cursor: pointer; }
        .layui-card-box { display: flex; flex-wrap: wrap; background-color: #f1f1f1; padding: 5px; min-height: 360px; }
        /*.types { height: 120px; }*/
        .boxchart_delete { cursor: pointer; content: '\e6c9'; border-radius: 10px; width: 20px; height: 20px; background: red; position: absolute; right: -5px; top: -5px; text-align: center; line-height: 20px; color: #fff; }
        .operation .iconfont { font-size: 20px; display: inline-block; margin-left: 20px; }
        .layui-layer-rim { border: 1px solid #8D8D8D !important; }
        .layui-layer-content { overflow-x: hidden !important; }
        .layui-card .btn_box { padding: 0px 15px 0px 15px; display: flex; justify-content: flex-end; }
        .layui-layer-content .layui-card-box { height: 360px; overflow-y: scroll; overflow-x: hidden; }
        .LinkA.active { border: 2px solid rgb(102, 177, 255); box-sizing: border-box; }
        .LinkA.active::after { content: '\e650'; border-radius: 10px; width: 20px; height: 20px; background: rgb(102, 177, 255); position: absolute; right: -5px; bottom: -5px; text-align: center; line-height: 20px; color: #fff; font-size: 10px; }
        .boxchart.file_box { width: 25%; height: 140px; }
        .layui-card-box.typess { min-height: 240px; }
        .File{min-height:280px;}
        .File .boxchart{height:140px;}
        .File .leftconfig{line-height:80px;}
        .typess .boxchart{width:10%;height:140px;}
        .typess .leftconfig{line-height:80px;}
        .typess .boxchart::-webkit-scrollbar { width: 0 !important }
        .typess{min-height:240px;}
        @@media screen and (max-width:800px) {
            .leftbox{width:100% !important;}
            .rightbox{width:100% !important;}
        }
    </style>
</head>
<body style="background-color: #f2f2f2;">
    <div class="welcome">
        <div class="welcome_box">
            <div class="layui-container leftbox">
                <div class="layui-row layui-col-space12">
                    <div class="layui-col-md6  layui-anim layui-anim-scale">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <span>网站情况</span><div class="operation mode_1" data-name="3"><span class="iconfont iconbianji"></span></div>
                            </div>
                            <div class="layui-card-body card_css">
                                <div class="layui-card-box">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6  layui-anim layui-anim-scale">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <span>系统设置</span><div class="operation mode_2" data-name="4"><span class="iconfont iconbianji"></span></div>
                            </div>
                            <div class="layui-card-body card_css">
                                <div class="layui-card-box">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">访问数据</div>
                            <div class="layui-card-body">
                                <div class="layui-carousel layadmin-carousel layadmin-dataview" style="width: 100%; height: 350px;">
                                    <div carousel-item="" id="LAY-index-dataview">
                                        <div class="box_item layui-this" id="maint">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <span>快捷栏目</span><div class="operation mode_5" data-name="6"><span class="iconfont iconbianji" title="编辑"></span></div>
                            </div>
                            <div class="layui-card-body card_css">
                                <div class="layui-card-box typess">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-container rightbox  layui-anim layui-anim-scale">
                <div class="layui-row layui-col-space12">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header"><span>最新新闻</span></div>
                            <div class="layui-card-body">
                                <div class="layui-card-box">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <span>文件管理</span><div class="operation mode_7" data-name="8"><span class="iconfont iconbianji"></span></div>
                            </div>
                            <div class="layui-card-body card_css">
                                <div class="layui-card-box File">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Popup" style="display: none;">
        <div class="layui-row layui-col-space12">
            <div class="layui-col-md12">
                <div class="layui-card popbox">
                    <div class="layui-card-body card_css">
                        <div class="layui-card-box">
                        </div>
                    </div>
                    <div class="btn_box">
                        <div class="layui-btn" onclick="chooseShortCut($(this))">确定</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/Scripts/layer/layer.js"></script>
    <script src="/Scripts/route.js"></script>
    <script type="text/javascript">
        jQuery(function () {
            jQuery(".w3_dd a").mouseenter(function () {
                jQuery(this).addClass("cur");
            }).mouseleave(function () {
                jQuery(this).removeClass("cur");
            })
        })
        function Init(mode_arr) {
            if (mode_arr == [] || mode_arr == undefined)
                mode_arr = [1, 2, 7];
            let parent;
            for (var i = 0; i < mode_arr.length; i++) {
                parent = $('.operation.mode_' + mode_arr[i] + '').parents('.layui-card').find('.layui-card-box');
                ajaxHttp({
                    url: api + 'SystemIndex/getMenuShortcut',
                    data: { mode: mode_arr[i] },
                    dataType: 'json',
                    async: false,
                    success: function (res) {
                        let box_str = '';
                        for (var i = 0; i < res.content.length; i++) {
                            box_str += '<div class="boxchart layui-anim hvr-grow-shadow">'
                                + '<div class="iconbox">'
                                + (
                                    res.content[i].Icode != '' ?
                                        '<i class="' + (res.content[i].FontSort == 'fontClass' ? 'layui-icon' : res.content[i].FontSort) + ' leftconfig ' + res.content[i].Icode + '"></i>'
                                        : '<i class="iconfont leftconfig iconwendang"></i>'
                                )
                                + '</div>'
                                + '<span class="icon_title">' + res.content[i].Name + '</span>'
                                + '<a class="addnewIframe LinkA iconfont" data-href="' + res.content[i].LinkUrl + '" data-id="' + res.content[i].ID + '" data-cite="' + res.content[i].Name + '" data-linkstatus="' + res.content[i].IsControllerUrl + '" ></a>'
                                + '</div>';
                        }
                        parent.html(box_str);
                    }
                })
            }
        }
        function InitCoumnShortcut(mode_arr) {
            if (mode_arr == [] || mode_arr == undefined)
                mode_arr = [5];
            let parent;
            for (var i = 0; i < mode_arr.length; i++) {
                parent = $('.operation.mode_' + mode_arr[i] + '').parents('.layui-card').find('.layui-card-box');
                ajaxHttp({
                    url: api + 'ColumnCategory/getColumnShortcut',
                    data: { mode: mode_arr[i] },
                    dataType: 'json',
                    async: false,
                    success: function (res) {
                        let box_str = '';
                        for (var i = 0; i < res.content.length; i++) {
                            box_str += '<div class="boxchart layui-anim hvr-grow-shadow types">'
                                + '<div class="iconbox">'
                                + '<i class="iconfont leftconfig iconwendang"></i>'
                                + '</div>'
                                + '<span class="icon_title">' + res.content[i].Name + '</span>'
                                + '<a class="addnewIframe LinkA iconfont" data-href="' + res.content[i].LinkUrl + '" data-id="' + res.content[i].ColumnId + '" data-cite="' + res.content[i].Name + '" data-linkstatus="ture" ></a>'
                                + '</div>';
                        }
                        parent.html(box_str);
                    }
                })
            }
        }

        var element = parent.elment;
        $('.layui-card-box').on('click', 'a.addnewIframe', function () {
            let $elemt = $(this);
            let id = $elemt.data('id');
            let href = $elemt.data('href');
            let text = $elemt.data('cite');
            var isaspx = $elemt.data('linkstatus');
            if (isaspx == false) {
                href = api + href;
            }
            var index = layer.open({
                type: 2,
                title: text,
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['90%', '95%'],
                content: href,
                success: function (layero, index) {
                }
            });
        })
        //初始化
        Init();
        InitCoumnShortcut();

        var add_more = {
            openindex: undefined,
            getStr: function (classname) {
                if (classname == undefined)
                    classname = '';
                return "<div class=\"boxchart layui-anim hvr-grow-shadow more_box " + (classname == '6' ? "types" : "") + "\" data-mode='" + (classname == '' ? '3' : classname) + "'>"
                    + "<div class=\"iconbox\">"
                    + "<i class=\"iconfont leftconfig\">+</i>"
                    + "</div>"
                    + "<span class=\"icon_title\">添加快捷方式</span>"
                    + "<a href=\"javascript:;\" class=\"LinkA\"></a>"
                    + "</div>";
            },
            cancel: function () {
                let box_body = $('.layui-card-body');
                let boxchart = $('.boxchart.hvr-grow-shadow');
                boxchart.find('.boxchart_delete').remove();
                boxchart.removeClass('layui-anim-scale');
                box_body.find('.layui-card-box').find('.more_box').remove();
                $('.operation').html('<span class="iconfont iconbianji" title="编辑"></span>');
            },
            openPopup: function (mode) {
                if (mode == undefined)
                    mode = 3;
                ajaxHttp({
                    url: api + 'SystemIndex/getMenuShortcut',
                    data: { mode: mode },
                    dataType: 'json',
                    type: 'get',
                    async: false,
                    success: function (res) {
                        let box_str = '';
                        for (var i = 0; i < res.content.length; i++) {
                            box_str += '<div class="boxchart layui-anim hvr-grow-shadow">'
                                + '<div class="iconbox">'
                                + (
                                    res.content[i].Icode != '' ?
                                        '<i class="' + (res.content[i].FontSort == 'fontClass' ? 'layui-icon' : res.content[i].FontSort) + ' leftconfig ' + res.content[i].Icode + '"></i>'
                                        : '<i class="iconfont leftconfig iconwendang"></i>'
                                )
                                + '</div>'
                                + '<span class="icon_title">' + res.content[i].Name + '</span>'
                                + '<a class="addnewIframe LinkA iconfont" data-href="' + res.content[i].LinkUrl + '" data-id="' + res.content[i].ID + '" data-cite="' + res.content[i].Name + '" data-linkstatus="' + res.content[i].IsControllerUrl + '" ></a>'
                                + '</div>';
                        }
                        $('.Popup .layui-card-box').html(box_str);
                        $('.Popup .layui-btn').attr('data-mode', mode);
                    }
                })
                let contents = $('.Popup').html();
                add_more.layerOpenBox(contents);
            },
            openColumnPopup: function (mode) {
                ajaxHttp({
                    url: api + 'ColumnCategory/getColumnShortcut',
                    dataType: 'json',
                    async: false,
                    data: { mode: mode },
                    type: 'get',
                    success: function (res) {
                        let box_str = '';
                        for (var i = 0; i < res.content.length; i++) {
                            box_str += '<div class="boxchart layui-anim hvr-grow-shadow">'
                                + '<div class="iconbox">'
                                + '<i class="iconfont leftconfig iconwendang"></i>'
                                + '</div>'
                                + '<span class="icon_title">' + res.content[i].Name + '</span>'
                                + '<a class="addnewIframe LinkA iconfont" data-href="' + res.content[i].LinkUrl + '" data-id="' + res.content[i].ColumnId + '" data-cite="' + res.content[i].Name + '" data-linkstatus="true" ></a>'
                                + '</div>';
                        }
                        $('.Popup .layui-card-box').html(box_str);
                        $('.Popup .layui-btn').attr('data-mode', mode);
                    }
                })
                let contents = $('.Popup').html();
                add_more.layerOpenBox(contents);
            }
            , layerOpenBox: function (contents) {
                //页面层
                add_more.openindex = layer.open({
                    type: 1,
                    title: '选择快捷方式',
                    skin: 'layui-layer-rim', //加上边框
                    area: ['50%', ''], //宽高
                    content: contents,
                    success: function () {
                        $('.layui-layer-content .layui-card-box .boxchart a.LinkA').click(function () {
                            $(this).toggleClass('active layui-anim layui-anim-scalesmall-spring');
                        })
                    },
                    end: function () {
                        add_more.cancel();
                    }
                });
            }, close: function () {
                layer.close(add_more.openindex);
            }
        }
        $('.layui-card-box').on('click', '.more_box', function () {
            let mode = $(this).data('mode');
            if (mode != '6') {
                add_more.openPopup(mode);
            } else {
                add_more.openColumnPopup(mode);
            }
        })

        function chooseShortCut(that) {
            let idactive = that.parent().siblings('.layui-card-body').find('.addnewIframe.active');
            let idstr = '';
            $.each(idactive, function (index, item) {
                if (idstr == '') {
                    idstr = $(item).data('id');
                } else {
                    idstr += ',' + $(item).data('id');
                }
            })
            let mode = that.data('mode');
            ajaxHttp({
                url: api + 'SystemIndex/Update',
                dataType: 'json',
                async: false,
                data: { mode: mode, Menu: idstr },
                type: 'post',
                success: function (json) {
                    if (json.code == 200) {
                        layer.msg(json.msg, { icon: 6, time: 300 }, function () {
                            add_more.close();
                            if (mode != "6") {
                                Init();
                            } else {
                                InitCoumnShortcut();
                            }
                        });
                    } else {
                        layer.msg(json.msg, { icon: 5, time: 1000 });
                    }
                }
            })
        }
        var anim_scale = 'layui-anim-scale';
        var bianji = 'iconbianji';
        var cancel = 'iconcancel';
        $('.operation').on('click', 'span', function () {
            let parent = $(this).parent();
            let parents = $(this).parents('.layui-card-header');
            let box_body = parents.siblings('.layui-card-body');
            let boxchart = box_body.find('.boxchart.hvr-grow-shadow');
            let mode = $(this).parent('.operation').data('name');
            if ($(this).hasClass(bianji)) {
                boxchart.toggleClass(anim_scale);
                boxchart.append('<div class="boxchart_delete iconfont iconguanbi"></div>');
                box_body.find('.layui-card-box').append(add_more.getStr(mode));
                parent.html('<span class="iconfont iconbaocun" title="保存"></span><span class="iconfont iconcancel" title="取消"></span>');
            } else if ($(this).hasClass(cancel)) {
                boxchart.toggleClass(anim_scale);
                boxchart.find('.boxchart_delete').remove();
                box_body.find('.layui-card-box').find('.more_box').remove();
                parent.html('<span class="iconfont iconbianji" title="编辑"></span>');
                console.log(mode)
                if (mode != "6") {
                    Init();
                } else {
                    InitCoumnShortcut();
                }
            } else {
                let idstr = '';
                $.each(boxchart, function (index, item) {
                    if ($(item).hasClass('layui-anim-fadeout')) {
                        return;
                    }
                    if ($(item).hasClass('more_box')) {
                        return;
                    }
                    if (idstr == '') {
                        idstr = $(item).find('.addnewIframe').attr('data-id');
                    } else {
                        idstr += ',' + $(item).find('.addnewIframe').attr('data-id');
                    }
                })
                ajaxHttp({
                    url: api + 'SystemIndex/Delete',
                    dataType: 'json',
                    async: false,
                    data: { mode: mode, Menu: idstr },
                    type: 'post',
                    success: function (json) {
                        if (json.code == 200) {
                            layer.msg(json.msg, { icon: 6, time: 300 }, function () {
                                add_more.cancel();
                            });
                        } else {
                            layer.msg(json.msg, { icon: 5, time: 1000 });
                        }
                    }
                })
            }
        })

        $('.layui-card-box').on('click', '.boxchart .boxchart_delete', function () {
            $(this).parent('.boxchart').addClass('layui-anim-fadeout')
            $(this).parent('.boxchart').fadeOut();
        })
    </script>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('maint'));
        var option = {
            title: { top: 10, text: '今日访问情况：总浏览量', x: 'center' },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'line',
                }
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            legend: {
                top: 30,
                data: ['']
            },
            xAxis:
            {
                data: []
            },
            yAxis: {},
            series: []
        };
        myChart.setOption(option);
    </script>
</body>
</html>
