<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>项目管理</title>
    <script src="~/scripts/jquery-3.4.1.min.js"></script>
    <link href="~/system/css/productmg/index.css" rel="stylesheet" />
</head>
<body>
    <section class="main">
        <div class="content-middle-box">
            <div class="middle-link">
                <a href="#id_2" class="active"><span>开始</span></a>
                <a href="#id_3"><span>修改头部</span></a>
                <a href="#id_4"><span>修改js</span></a>
                <a href="#id_5"><span>修改友情链接</span></a>
                <a href="#id_6"><span>修改标题图标</span></a>
            </div>
            <div class="middle-add-title"><span>新增修改</span></div>
        </div>
        <div class="content-right-box">
            <div class="event" id="id_2">
                <div class="event-operation">
                    <div class="action">
                        开始
                        <br />
                        时间：2023-6-20 17:47
                    </div>
                </div>
                <!--修改内容-->
                <div class="event-content">
                </div>
                <div class="event-member">
                    <div class="event-member-title">参与人：</div>
                    <span class="member-name">康超</span>
                    <span class="member-name">吴海林</span>
                    <span class="member-name">陈龙</span>
                </div>
            </div>
            <div class="event" id="id_3">
                <div class="event-operation">
                    <div class="action">
                        修改头部
                        <br />
                        时间：2023-6-20 12:47
                    </div>
                </div>
                <div class="event-content">
                </div>
                <div class="event-member">
                    <div class="event-member-title">参与人：</div>
                    <span class="member-name">康超</span>
                    <span class="member-name">吴海林</span>
                    <span class="member-name">陈龙</span>
                </div>
            </div>
            <div class="event" id="id_4">
                <div class="event-operation">
                    <div class="action">
                        修改js
                        <br />
                        时间：2023-6-19 17:47
                    </div>
                </div>
                <div class="event-content">
                    <p>
                        In 2021, engineers from SMAWAVE technology stillserved on African continent. Even after the spread of COVID-19 , they did notstop their efforts to help local people improve their network service level andquality of life.
                    </p>
                    <p>
                        In Lagos, the largest port city in southwest Nigeria,the basic network service still stays at the level of 2G/3G. The backward basicinfrastructure and slow network speed of operators bring a lot of inconvenienceto local residents&#39; life and work, and become the bottleneck restricting thedevelopment of urban information. The engineers of SMAWAVE Technology stick tothe front line of African projects in order to provide local quality networkservices.<br />
                        Engineer Jiang Cheng is engaged in equipment testing for local operators inNigeria. The project was located in bad condition, but the local people&#39;sdesire to improve working and living conditions has always inspired him.
                    </p>
                    <p>
                        <br />
                    </p>
                    <p>
                        <img src="/Uploadfiles/Picture/2023-6-16/2023616153948333.jpg" alt="1" title="1" /><br />
                    </p>
                    <p>
                        Market in Lagos<br />
                    </p>
                    <p>
                        <br />
                    </p>
                    <p>
                        <img src="/Uploadfiles/Picture/2023-6-16/2023616153948333.jpg" alt="2" title="2" /><br />
                    </p>
                    <p>
                        Gulf of Guinea/Atlantic Ocean off Lagos<br />
                    </p>
                    <p>
                        <br />
                    </p>
                    <p>
                        The epidemic situation inCOVID-19 is severe in Africa, the local medical conditions are limited, and thepressure of epidemic prevention and control is enormous. However, our engineershave not flinched. While doing a good job in epidemic prevention, they concentrateon their own work and make every effort to ensure the normal development oflocal network operators&#39; equipment projects. As a special journey, I don&#39;tforget to record the interesting local customs and what I saw and heard duringthe epidemic in my spare time.<br />
                        Jiang Cheng said, &quot;When the epidemic came, I was retrograde in Nigeria,the country where the project is located. I was responsible for theresponsibility of Chinese enterprises represented by SMAWAVE Technology, andcontributed to the strength of Chinese builders. Backed by SMAWAVE and themotherland, I am fearless. Under the overall arrangement of the company, I willbe able to overcome difficulties and guarantee technology, and help each otherand overcome difficulties with African operators. &quot;<br />
                    </p>
                    <p>
                        <img src="/Uploadfiles/Picture/2023-6-16/2023616153948333.jpg" alt="3" title="3" /><br />
                    </p>
                    <p>
                        Work on site<br />
                    </p>
                    <p>
                        <img src="/Uploadfiles/Picture/2023-6-16/2023616153948333.jpg" alt="4" title="4" /><br />
                    </p>
                    <p>
                        Engineer Jiang Cheng withhis local friends<br />
                    </p>
                </div>
                <div class="event-member">
                    <div class="event-member-title">参与人：</div>
                    <span class="member-name">康超</span>
                    <span class="member-name">吴海林</span>
                    <span class="member-name">陈龙</span>
                </div>
            </div>
            <div class="event" id="id_5">
                <div class="event-operation">
                    <div class="action">
                        修改友情链接
                        <br />
                        时间：2023-6-19 13:47
                    </div>
                </div>
                <div class="event-content">
                    <p>
                        In 2021, engineers from SMAWAVE technology stillserved on African continent. Even after the spread of COVID-19 , they did notstop their efforts to help local people improve their network service level andquality of life.
                    </p>
                    <p>
                        In Lagos, the largest port city in southwest Nigeria,the basic network service still stays at the level of 2G/3G. The backward basicinfrastructure and slow network speed of operators bring a lot of inconvenienceto local residents&#39; life and work, and become the bottleneck restricting thedevelopment of urban information. The engineers of SMAWAVE Technology stick tothe front line of African projects in order to provide local quality networkservices.<br />
                        Engineer Jiang Cheng is engaged in equipment testing for local operators inNigeria. The project was located in bad condition, but the local people&#39;sdesire to improve working and living conditions has always inspired him.
                    </p>
                    <p>
                        <br />
                    </p>
                    <p>
                        <img src="/Uploadfiles/Picture/2023-6-16/2023616153948333.jpg" alt="1" title="1" /><br />
                    </p>
                    <p>
                        Market in Lagos<br />
                    </p>
                    <p>
                        <br />
                    </p>
                    <p>
                        <img src="/Uploadfiles/Picture/2023-6-16/2023616153948333.jpg" alt="2" title="2" /><br />
                    </p>
                    <p>
                        Gulf of Guinea/Atlantic Ocean off Lagos<br />
                    </p>
                    <p>
                        <br />
                    </p>
                    <p>
                        The epidemic situation inCOVID-19 is severe in Africa, the local medical conditions are limited, and thepressure of epidemic prevention and control is enormous. However, our engineershave not flinched. While doing a good job in epidemic prevention, they concentrateon their own work and make every effort to ensure the normal development oflocal network operators&#39; equipment projects. As a special journey, I don&#39;tforget to record the interesting local customs and what I saw and heard duringthe epidemic in my spare time.<br />
                        Jiang Cheng said, &quot;When the epidemic came, I was retrograde in Nigeria,the country where the project is located. I was responsible for theresponsibility of Chinese enterprises represented by SMAWAVE Technology, andcontributed to the strength of Chinese builders. Backed by SMAWAVE and themotherland, I am fearless. Under the overall arrangement of the company, I willbe able to overcome difficulties and guarantee technology, and help each otherand overcome difficulties with African operators. &quot;<br />
                    </p>
                    <p>
                        <img src="/Uploadfiles/Picture/2023-6-16/2023616153948333.jpg" alt="3" title="3" /><br />
                    </p>
                    <p>
                        Work on site<br />
                    </p>
                    <p>
                        <img src="/Uploadfiles/Picture/2023-6-16/2023616153948333.jpg" alt="4" title="4" /><br />
                    </p>
                    <p>
                        Engineer Jiang Cheng withhis local friends<br />
                    </p>
                </div>
                <div class="event-member">
                    <div class="event-member-title">参与人：</div>
                    <span class="member-name">康超</span>
                    <span class="member-name">吴海林</span>
                    <span class="member-name">陈龙</span>
                </div>
            </div>
            <div class="event" id="id_6">
                <div class="event-operation">
                    <div class="action">
                        修改标题图标
                        <br />
                        时间：2023-6-18 17:30
                    </div>
                </div>
                <div class="event-content">
                    <p>
                        In 2021, engineers from SMAWAVE technology stillserved on African continent. Even after the spread of COVID-19 , they did notstop their efforts to help local people improve their network service level andquality of life.
                    </p>
                    <p>
                        In Lagos, the largest port city in southwest Nigeria,the basic network service still stays at the level of 2G/3G. The backward basicinfrastructure and slow network speed of operators bring a lot of inconvenienceto local residents&#39; life and work, and become the bottleneck restricting thedevelopment of urban information. The engineers of SMAWAVE Technology stick tothe front line of African projects in order to provide local quality networkservices.<br />
                        Engineer Jiang Cheng is engaged in equipment testing for local operators inNigeria. The project was located in bad condition, but the local people&#39;sdesire to improve working and living conditions has always inspired him.
                    </p>
                    <p>
                        <br />
                    </p>
                    <p>
                        <img src="/Uploadfiles/Picture/2023-6-16/2023616153948333.jpg" alt="1" title="1" /><br />
                    </p>
                    <p>
                        Market in Lagos<br />
                    </p>
                    <p>
                        <br />
                    </p>
                    <p>
                        <img src="/Uploadfiles/Picture/2023-6-16/2023616153948333.jpg" alt="2" title="2" /><br />
                    </p>
                    <p>
                        Gulf of Guinea/Atlantic Ocean off Lagos<br />
                    </p>
                    <p>
                        <br />
                    </p>
                    <p>
                        The epidemic situation inCOVID-19 is severe in Africa, the local medical conditions are limited, and thepressure of epidemic prevention and control is enormous. However, our engineershave not flinched. While doing a good job in epidemic prevention, they concentrateon their own work and make every effort to ensure the normal development oflocal network operators&#39; equipment projects. As a special journey, I don&#39;tforget to record the interesting local customs and what I saw and heard duringthe epidemic in my spare time.<br />
                        Jiang Cheng said, &quot;When the epidemic came, I was retrograde in Nigeria,the country where the project is located. I was responsible for theresponsibility of Chinese enterprises represented by SMAWAVE Technology, andcontributed to the strength of Chinese builders. Backed by SMAWAVE and themotherland, I am fearless. Under the overall arrangement of the company, I willbe able to overcome difficulties and guarantee technology, and help each otherand overcome difficulties with African operators. &quot;<br />
                    </p>
                    <p>
                        <img src="/Uploadfiles/Picture/2023-6-16/2023616153948333.jpg" alt="3" title="3" /><br />
                    </p>
                    <p>
                        Work on site<br />
                    </p>
                    <p>
                        <img src="/Uploadfiles/Picture/2023-6-16/2023616153948333.jpg" alt="4" title="4" /><br />
                    </p>
                    <p>
                        Engineer Jiang Cheng withhis local friends<br />
                    </p>
                </div>
                <div class="event-member">
                    <div class="event-member-title">参与人：</div>
                    <span class="member-name">康超</span>
                    <span class="member-name">吴海林</span>
                    <span class="member-name">陈龙</span>
                </div>
            </div>
        </div>
    </section>
    <script src="~/system/js/productmg/index.js"></script>
</body>
</html>